body {
  margin: 0;
  font-family: 'Work Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

::selection {
  color: white;
  background: #d53f8c;
}

.root-div {
  height: 100vh;
  background: rgb(255,255,255);
}

/* CSS HEX
--caribbean-current: #156064ff; <Secondatry
--mint: #00c49aff; <Complement
--naples-yellow: #f8e16cff; <Primary

SCSS Gradient
$gradient-top: linear-gradient(0deg, #156064ff, #00c49aff, #f8e16cff);
$gradient-right: linear-gradient(90deg, #156064ff, #00c49aff, #f8e16cff);
$gradient-bottom: linear-gradient(180deg, #156064ff, #00c49aff, #f8e16cff);
$gradient-left: linear-gradient(270deg, #156064ff, #00c49aff, #f8e16cff);
$gradient-top-right: linear-gradient(45deg, #156064ff, #00c49aff, #f8e16cff);
$gradient-bottom-right: linear-gradient(135deg, #156064ff, #00c49aff, #f8e16cff);
$gradient-top-left: linear-gradient(225deg, #156064ff, #00c49aff, #f8e16cff);
$gradient-bottom-left: linear-gradient(315deg, #156064ff, #00c49aff, #f8e16cff);
$gradient-radial: radial-gradient(#156064ff, #00c49aff, #f8e16cff); */